*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}
html,body{
    min-height: 100vh;
    background-color: rgb(145, 208, 229);
}
.alert{
    cursor: pointer;
    color : white;
    background-color: black;
    width : 300px;
    height : 300px;
}
.alert_box{
    width : 500px;
    height : 50px;
    background-color: rgb(131, 212, 131);
    display : none; /*알림창은 숨겨놓는다!!*/
    position : absolute;
    top : 50%;
    left : 50%;
    transform: translate(-50%,-50%);
}
span{
    position : absolute;
    right : 0;
    top : 0;
    background-color: aqua;
    cursor: pointer;
}